@using AppPerfumaria.Api.ReinoCompany
@using AppPerfumaria.Components.CmpsGerais
@using AppPerfumaria.Models.Auth
@using AppPerfumaria.Models.Resources
@using AppPerfumaria.Models.Tables

@inject IDialogService Dialog
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject ISnackbar Snack

<MudDialog Style="max-height: 70%;">
    <DialogContent>
        <EditForm Model="_clienteForm" OnValidSubmit="Salvar" @ref="_clienteFormRef">
            <DataAnnotationsValidator />

            <MudFocusTrap Disabled="false" DefaultFocus="DefaultFocus.FirstChild">
                <MudTextField T="string" @bind-Value="_clienteForm!.nome_completo" Variant="Variant.Outlined"
                              Label="Nome Completo*" Disabled="_verificando" Margin="Margin.Dense" />
                <ValidationMessage For="() => _clienteForm!.nome_completo" />

                <MudTextField T="string" @bind-Value="_clienteForm!.primeiro_nome" Variant="Variant.Outlined"
                              Label="Primeiro Nome*" Disabled="_verificando" Margin="Margin.Dense" />
                <ValidationMessage For="() => _clienteForm!.primeiro_nome" />

                <MudTextField T="string" @bind-Value="_clienteForm!.ultimo_nome" Variant="Variant.Outlined"
                              Label="Último Nome*" Disabled="_verificando" Margin="Margin.Dense" />
                <ValidationMessage For="() => _clienteForm!.ultimo_nome" />

                <MudTextField T="string" @bind-Value="_clienteForm!.apelido" Variant="Variant.Outlined"
                              Label="Apelido" Disabled="_verificando" Margin="Margin.Dense" />
                <ValidationMessage For="() => _clienteForm!.apelido" />

                <MudTextField T="string" @bind-Value="_clienteForm!.cpf" Variant="Variant.Outlined"
                              Label="CPF*" Disabled="_verificando" Margin="Margin.Dense" MaxLength="11" />
                <ValidationMessage For="() => _clienteForm!.cpf" />

                <MudDatePicker Label="Data Nascimento*" Margin="Margin.Dense" DateFormat="dd/MM/yyyy"
                               Variant="Variant.Outlined" @bind-Date="_clienteForm!.data_nascimento" />
                <ValidationMessage For="() => _clienteForm!.data_nascimento" />

                <MudTextField T="string" @bind-Value="_clienteForm!.rg" Variant="Variant.Outlined"
                              Label="RG" Disabled="_verificando" Margin="Margin.Dense" />
                <ValidationMessage For="() => _clienteForm!.rg" />

                <MudSelect @bind-Value="_clienteForm.sexo" Variant="Variant.Outlined"
                           Label="Sexo*" Margin="Margin.Dense">
                    <MudSelectItem Value="@("Feminino")" />
                    <MudSelectItem Value="@("Masculino")" />
                </MudSelect>
                <ValidationMessage For="() => _clienteForm.sexo" />

                <MudSelect @bind-Value="_clienteForm.estado_civil" Variant="Variant.Outlined"
                           Label="Estado Civil" Margin="Margin.Dense">
                    <MudSelectItem Value="@("Solteiro(a)")" />
                    <MudSelectItem Value="@("Casado(a)")" />
                    <MudSelectItem Value="@("Separado(a)")" />
                    <MudSelectItem Value="@("Divorcido(a)")" />
                    <MudSelectItem Value="@("Viúvo(a)")" />
                </MudSelect>
                <ValidationMessage For="() => _clienteForm.estado_civil" />

                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles" Accept="image/*">
                    <ActivatorContent>
                        <MudButton Variant="Variant.Outlined" Size="Size.Medium" Class="w-100 mt-1"
                                   StartIcon="@Icons.Material.Filled.FileUpload">
                                   Carregar Imagem
                        </MudButton>
                        @if (_carregandoImagem)
                        {
                            <MudProgressLinear Color="Color.Secondary" Rounded="true" Striped="true"
                                               Size="Size.Medium" Value="100" />
                        }
                    </ActivatorContent>
                </MudFileUpload>
                <ValidationMessage For="() => _clienteForm!.img" />
                @if (_imagem != null)
                {
                    <div class="d-flex">
                        <MudIconButton Icon="@Icons.Material.Filled.Visibility"
                                       OnClick="VisualizarImagem" />
                        <div>
                            <MudText Class="d-block">
                                <p class="my-0">
                                    @if (_imagem.Name.Length > 24)
                                    {
                                        @($"{_imagem.Name.Substring(0, 24)}...")
                                    }
                                    else
                                    {
                                        @_imagem.Name
                                    }
                                </p>
                                <code class="my-0">@_imagem.Size bytes</code>
                            </MudText>
                        </div>
                    </div>
                }
                else if (_clienteForm!.img != null)
                {
                    <div class="d-flex">
                        <MudIconButton Icon="@Icons.Material.Filled.Visibility"
                                       OnClick="VisualizarImagem" />
                        <MudText Class="mt-3">imagem-perfil.png</MudText>
                    </div>
                }

                <MudTextField T="string" @bind-Value="_clienteForm!.email_pessoal" Variant="Variant.Outlined"
                              Label="Email Pessoal" Disabled="_verificando" Margin="Margin.Dense" />
                <ValidationMessage For="() => _clienteForm!.email_pessoal" />

                <MudTextField T="string" @bind-Value="_clienteForm!.telefone_pessoal" Variant="Variant.Outlined"
                              Label="Telefone Pessoal" Disabled="_verificando" Margin="Margin.Dense" />
                <ValidationMessage For="() => _clienteForm!.telefone_pessoal" />

                <MudTextField T="string" @bind-Value="_clienteForm!.celular_pessoal" Variant="Variant.Outlined"
                              Label="Celular Pessoal" Disabled="_verificando" Margin="Margin.Dense" />
                <ValidationMessage For="() => _clienteForm!.celular_pessoal" />

                <MudTextField T="string" @bind-Value="_clienteForm!.whatsapp_pessoal" Variant="Variant.Outlined"
                              Label="WhatsApp Pessoal" Disabled="_verificando" Margin="Margin.Dense" />
                <ValidationMessage For="() => _clienteForm!.whatsapp_pessoal" />

                <MudTextField T="string" @bind-Value="_clienteForm!.instagram_pessoal" Variant="Variant.Outlined"
                              Label="Instagram Pessoal" Disabled="_verificando" Margin="Margin.Dense" />
                <ValidationMessage For="() => _clienteForm!.instagram_pessoal" />

                <MudTextField T="string" @bind-Value="_clienteForm!.facebook_pessoal" Variant="Variant.Outlined"
                              Label="Facebook Pessoal" Disabled="_verificando" Margin="Margin.Dense" />
                <ValidationMessage For="() => _clienteForm!.facebook_pessoal" />

                <MudSelect @bind-Value="_clienteForm.status" Variant="Variant.Outlined"
                           Label="Status*" Margin="Margin.Dense" >
                    <MudSelectItem Value="@("Ativo")" />
                    <MudSelectItem Value="@("Inativo")" />
                </MudSelect>
                <ValidationMessage For="() => _clienteForm.status" />
            </MudFocusTrap>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <div class="d-block w-100 px-2">
            @if (_carregando)
            {
                <MudProgressLinear Color="Color.Secondary" Rounded="true" Striped="true"
                                   Size="Size.Medium" Value="100" Class="mb-2" />
            }
            <MudFab Class="w-100" Label="Salvar" Size="Size.Medium"
                    OnClick="ValidarDadosForm" Disabled="_verificando" />
            <MudFab Class="w-100 mt-2 mb-5" Label="Fechar" OnClick="(() => _mudDialog!.Cancel())"
                    Size="Size.Medium" Disabled="_verificando" />
        </div>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance? _mudDialog { get; set; }
    [Parameter]
    public Clientes? _clienteForm { get; set; }
    private Auth? _auth;
    private EditForm? _clienteFormRef;
    private IBrowserFile? _imagem;
    private bool _carregando = false;
    private bool _carregandoImagem = false;
    private bool _verificando = false;

    private async Task ValidarDadosForm()
    {
        try
        {
            _carregando = true;
            _verificando = true;

            if (_clienteFormRef!.EditContext!.Validate())
            {
                await Salvar();
            }
            else
            {
                Snack.Add("Por favor, verifique todos os campos!", Severity.Warning);
                _verificando = false;
                _carregando = false;
            }
        }
        catch (Exception e)
        {
            Snack.Add("Tivemos um problema ao tentar validar dados!", Severity.Warning);
        }
    }

    private async void UploadFiles(IBrowserFile file)
    {
        try
        {
            _carregandoImagem = true;

            // Limite de 50 KB
            var maxSizeInBytes = 50000;
            var targetWidth = 1024;
            var targetHeight = int.MaxValue;

            while (file.Size > maxSizeInBytes)
            {
                // Reduz a largura e a altura proporcionalmente em 10%
                targetWidth = (int)(targetWidth * 0.9);
                targetHeight = (int)(targetHeight * 0.9);

                // Garante que as dimensões não sejam reduzidas abaixo de 100 pixels
                if (targetWidth < 100 || targetHeight < 100)
                {
                    Snack.Add("Não foi possível redimensionar a imagem abaixo de 50 KB!", Severity.Warning);
                    return;
                }

                file = await file.RequestImageFileAsync(file.ContentType, targetWidth, targetHeight);
            }

            if (file.Size > maxSizeInBytes)
            {
                Snack.Add("Tivemos um problema pois a imagem é maior do que 50 KB!", Severity.Warning);
                return;
            }

            _imagem = file;

            using var stream = file.OpenReadStream(maxAllowedSize: maxSizeInBytes);
            using var memoryStream = new MemoryStream();
            await stream.CopyToAsync(memoryStream);
            var base64String = Convert.ToBase64String(memoryStream.ToArray());
            _clienteForm!.img = base64String;

            _carregandoImagem = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            Snack.Add("Tivemos um problema ao tentar fazer o upload da imagem!", Severity.Warning);
            _carregandoImagem = false;
        }
    }

    private void VisualizarImagem()
    {
        try
        {
            var options = new DialogOptions
                {
                    MaxWidth = MaxWidth.ExtraExtraLarge,
                    FullWidth = true,
                    CloseButton = true,
                };
            var param = new DialogParameters { ["Imagem"] = _clienteForm!.img };
            Dialog.Show<VisualizarImagem>("Visualizar Imagem", param, options);
        }
        catch (Exception e)
        {
            Snack.Add("Tivemos um problema ao tentar exibir a imagem!", Severity.Warning);
        }
    }

    public async Task Salvar()
    {
        try
        {
            _auth = await LocalStorage.GetItemAsync<Auth>("auth");
            var reinoCompany = new ReinoCompany();
            ClientesResource? response;

            if (_clienteForm!.id > 0)
            {
                response = await reinoCompany.ClientesAtualizar(_auth!.token!, _clienteForm!);
            }
            else
            {
                response = await reinoCompany.ClientesCriar(_auth!.token!, _clienteForm!);
            }

            if (response!.status)
            {
                _mudDialog!.Close(DialogResult.Ok<bool>(true));
            }
            else
            {
                if (!string.IsNullOrEmpty(response.message))
                {
                    Snack.Add(response.message, Severity.Warning);
                }

                if (response.erros != null)
                {
                    var erros = response.erros;
                    foreach (var propriedade in erros.GetType().GetProperties())
                    {
                        List<string>? propErros = (List<string>)erros.GetType().GetProperty(propriedade.Name).GetValue(erros, null);
                        if (propErros != null)
                        {
                            foreach (var mensagem in propErros)
                            {
                                Snack.Add(mensagem, Severity.Warning);
                            }
                        }
                    }
                }
                _verificando = false;
                _carregando = false;
            }
        }
        catch (Exception e)
        {
            Snack.Add("Tivemos um problema ao tentar salvar!", Severity.Warning);
            _verificando = false;
            _carregando = false;
        }
    }
}
