@using AppPerfumaria.Api.ReinoCompany
@using AppPerfumaria.Components.CmpsGerais
@using AppPerfumaria.Components.Pages.TiposUsuarios.Cmp
@using AppPerfumaria.Exceptions
@using AppPerfumaria.Models.Auth
@using System.Text.Json.Serialization
@using AppPerfumaria.Models.Collections
@using AppPerfumaria.Models.Pagination
@using AppPerfumaria.Models.Tables

@inject IDialogService Dialog
@inject ExceptionService ExceptionService
@inject ISnackbar Snack

<MudOverlay DarkBackground Visible="_carregando" ZIndex="10">
    <MudProgressCircular Indeterminate="true" Color="Color.Default" />
</MudOverlay>

<MudPaper Class="px-2 w-100" Elevation="4" Style="position:fixed; z-index: 9;">
    <!-- Barra de pesquisa e botão filtro -->
    <div class="d-flex">
        <MudTextField Value="_pesquisarFiltro" Label="Pesquisar" Variant="Variant.Outlined"
                      Adornment="Adornment.End" Margin="Margin.Dense" Immediate="true" 
                      ValueChanged="(async (string v) => { _pesquisarFiltro = v; await Pesquisar(v); })"
                      AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Inherit" 
                      ClearIcon="@Icons.Material.Filled.Clear" Clearable="true" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.FilterList" OnClick="Filtro"
                        Color="Color.Inherit" Size="Size.Medium" />
    </div>
    <!-- Barra de filtros -->
    <MudPopover Open="@_exibirFiltro" Fixed="true" Class="px-4 pt-4 w-100" 
                AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopRight" >
        <MudGrid Spacing="2" Justify="Justify.Center" Class="mb-1">
            <MudItem xs="6">
                <MudSelect @bind-Value="_porPagina" Variant="Variant.Outlined"
                            Label="Carregar De" Margin="Margin.Dense">
                    <MudSelectItem Value="@("10")" />
                    <MudSelectItem Value="@("15")" />
                    <MudSelectItem Value="@("20")" />
                </MudSelect>
            </MudItem>
            <MudItem xs="6">
                <MudSelect T="string" @bind-Value="_statusFiltro" Variant="Variant.Outlined"
                            Label="Status" Margin="Margin.Dense">
                    <MudSelectItem Value="@("Todos")" />
                    <MudSelectItem Value="@("Ativo")" />
                    <MudSelectItem Value="@("Inativo")" />
                </MudSelect>
            </MudItem>
        </MudGrid>
        <MudDivider />
        <div class="d-flex my-2 float-end">
            <MudFab Label="Fechar" Size="Size.Small" 
                    OnClick="Filtro" Class="mr-2" />
            <MudFab Label="Filtrar" Size="Size.Small" 
                    OnClick="AplicarFiltros" />
        </div>
    </MudPopover>
    <!-- Barra de card e botão criar -->
    <div class="d-flex">
        <MudTabs Elevation="4" Rounded="true" Centered="true" @ref="tabs">
            <MudTabPanel Text="Tipos Usuários" OnClick="LimparEListarTiposUsers" />
            <MudTabPanel Text="Permissões" OnClick="LimparEListarPermissoes" />
        </MudTabs>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="CriarTipoUsuario"
                       Color="Color.Inherit" Size="Size.Medium" />
    </div>
</MudPaper>

<div class="pa-2" style="margin-top: 100px;">
    @if (_indiceMenu == 0)
    {
        <!-- Listar resultados dos tipos de usuários -->
        <Tabela TypeItem="TiposUsers" ListItens="_listarTiposUsers" Pagination="_paginacaoTiposUsers" OnClickPage="CarregarMais" Carregando="_carregando">
            <Head>
                <th>Tipo</th>
                <th class="text-center">Status</th>
            </Head>
            <Body>
                <td>@context.tipo</td>
                <td class="text-center">@context.status</td>
            </Body>
            <Footer>
                <td>Tipo</td>
                <td class="text-center">Status</td>
            </Footer>
        </Tabela>

    }
    else if (_indiceMenu == 1)
    {
        <!-- Listar resultados das permissões -->
        <Tabela TypeItem="Permissoes" ListItens="_listarPermissoes" Pagination="_paginacaoPermissoes" OnClickPage="CarregarMais" Carregando="_carregando">
            <Head>
                <th>Permissão</th>
                <th class="text-center">Status</th>
            </Head>
            <Body>
                <td>@context.chave</td>
                <td class="text-center">@context.status</td>
            </Body>
            <Footer>
                <td>Permissão</td>
                <td class="text-center">Status</td>
            </Footer>
        </Tabela>
    }
</div>

@code {
    [Parameter] public Auth? Auth { get; set; }
    [Parameter] public Instalacoes? Instalacao { get; set; }
    private List<TiposUsers>? _listarTiposUsers = new List<TiposUsers>();
    private List<Permissoes>? _listarPermissoes = new List<Permissoes>();
    private MetaPagination? _paginacaoTiposUsers;
    private MetaPagination? _paginacaoPermissoes;
    private MudTabs? tabs;
    private int _indiceMenu = 0;
    private bool _carregando = true;
    private bool _exibirFiltro = false;
    private string? _pesquisarFiltro;
    private string? _statusFiltro = "Todos";
    private DateRange _dataCriacaoFiltro = new DateRange();
    private string _porPagina = "10";
    private int _paginaPaginacao = 1;

    protected override async Task OnInitializedAsync()
    {
        do
        {
            await Task.Delay(300);
        }
        while (Auth == null || Instalacao == null);

        await ListarTiposUsers();
    }

    private async Task Pesquisar(string pesquisar)
    {
        await Task.Delay(1500);

        if (pesquisar == _pesquisarFiltro)
        {
            await AplicarFiltros();
        }
    }

    public async Task CarregarMais(int paginaPaginacao)
    {
        if (_indiceMenu == 0)
        {
            _paginaPaginacao = paginaPaginacao;
            _listarTiposUsers = new List<TiposUsers>();
            await ListarTiposUsers();
        }
        else
        {
            _paginaPaginacao = paginaPaginacao;
            _listarPermissoes = new List<Permissoes>();
            await ListarPermissoes();
        }
    }

    private void Filtro()
    {
        _exibirFiltro = !_exibirFiltro;
    }

    public string? PegarFiltros()
    {
        string filtros = $"?page={_paginaPaginacao}&por_pagina={_porPagina}";

        if (!string.IsNullOrEmpty(_pesquisarFiltro))
        {
            filtros += $"&pesquisar={_pesquisarFiltro}";
        }
        if (!string.IsNullOrEmpty(_statusFiltro) && _statusFiltro != "Todos")
        {
            filtros += $"&status={_statusFiltro}";
        }

        return filtros;
    }

    public async Task AplicarFiltros()
    {
        _exibirFiltro = false;

        if (_indiceMenu == 0)
        {
            await LimparEListarTiposUsers();
        }
        else
        {
            await LimparEListarPermissoes();
        }
    }

    public async Task LimparEListarTiposUsers()
    {
        _paginaPaginacao = 1;
        _listarTiposUsers = new List<TiposUsers>();
        await ListarTiposUsers();
    }

    public async Task ListarTiposUsers()
    {
        try
        {
            _carregando = true;
            StateHasChanged();
            string? filtros = PegarFiltros();

            var reinoCompany = new ReinoCompany();
            var response = await reinoCompany.TiposUsersListar(Auth!.token!, filtros);

            if (response!.status)
            {
                _paginacaoTiposUsers = response.meta;
                _listarTiposUsers!.AddRange(response!.data!);
            }
            else
            {
                if (!string.IsNullOrEmpty(response.message))
                {
                    Snack.Add(response.message, Severity.Warning);
                }
            }

            _indiceMenu = 0;
            _carregando = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            ExceptionService.HandleAsync(e, "Tivemos um problema ao tentar listar os tipos de usuários!");
            _carregando = false;
        }
    }

    public async Task LimparEListarPermissoes()
    {
        _paginaPaginacao = 1;
        _listarPermissoes = new List<Permissoes>();
        await ListarPermissoes();
    }

    public async Task ListarPermissoes()
    {
        try
        {
            _carregando = true;
            StateHasChanged();
            string? filtros = PegarFiltros();

            var reinoCompany = new ReinoCompany();
            var response = await reinoCompany.PermissoesListar(Auth!.token!, filtros);

            if (response!.status)
            {
                _paginacaoPermissoes = response.meta;
                _listarPermissoes!.AddRange(response!.data!);
            }
            else
            {
                if (!string.IsNullOrEmpty(response.message))
                {
                    Snack.Add(response.message, Severity.Warning);
                }
            }

            _indiceMenu = 1;
            _carregando = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            ExceptionService.HandleAsync(e, "Tivemos um problema ao tentar listar as marcas!");
            _carregando = false;
        }
    }

    private void VisualizarInstalacaoMarca(InstalacoesMarcas instalacaoMarca)
    {
        // try
        // {
        //     var options = new DialogOptions
        //         {
        //             MaxWidth = MaxWidth.ExtraExtraLarge,
        //             FullWidth = true,
        //             FullScreen = true,
        //             CloseButton = false,
        //         };
        //     var param = new DialogParameters { ["_instalacaoMarca"] = instalacaoMarca };
        //     Dialog.Show<VisualizarInstalacaoMarcaCmp>("Visualizar Associação", param, options);
        // }
        // catch (Exception e)
        // {
        //     Snack.Add("Tivemos um problema ao tentar exibir a marca associada!", Severity.Warning);
        // }
    }

    private void VisualizarMarca(Marcas marca)
    {
        // try
        // {
        //     var options = new DialogOptions
        //         {
        //             MaxWidth = MaxWidth.ExtraExtraLarge,
        //             FullWidth = true,
        //             FullScreen = true,
        //             CloseButton = false,
        //         };
        //     var param = new DialogParameters { ["_marca"] = marca };
        //     Dialog.Show<VisualizarMarcaCmp>("Visualizar Marca", param, options);
        // }
        // catch (Exception e)
        // {
        //     Snack.Add("Tivemos um problema ao tentar exibir a marca!", Severity.Warning);
        // }
    }

    public async Task CriarInstalacaoMarca(Marcas marca)
    {
        // try
        // {
        //     if (marca.status == "Inativo")
        //     {
        //         Snack.Add("Tivemos um problema ao tentar associar, pois a marca está inativa!", Severity.Warning);
        //         return;
        //     }

        //     var param = new DialogParameters<AlertaComPergunta>
        //     {
        //         { x => x.ContentText, "Deseja associar essa <b>MARCA</b> a instalação?" }
        //     };
        //     var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        //     var dialog = Dialog.Show<AlertaComPergunta>("Associar Marca", param, options);
        //     var result = await dialog.Result;
        //     if (!result.Canceled)
        //     {
        //         _carregando = true;

        //         var instalacaoMarca = new InstalacoesMarcas
        //             {
        //                 instalacoes_id = Instalacao!.id,
        //                 marcas_id = marca.id,
        //                 status = "Ativo",
        //             };
        //         var reinoCompany = new ReinoCompany();
        //         var response = await reinoCompany.InstalacoesMarcasCriar(Auth!.token!, instalacaoMarca);

        //         if (response!.status)
        //         {
        //             Snack.Add("Marca associada com sucesso!", Severity.Success);
        //             await LimparEListarMarcas();
        //         }
        //         else
        //         {
        //             if (!string.IsNullOrEmpty(response.message))
        //             {
        //                 Snack.Add(response.message, Severity.Warning);
        //             }
        //             _carregando = false;
        //         }
        //     }
        // }
        // catch (Exception e)
        // {
        //     ExceptionService.HandleAsync(e, "Tivemos um problema ao tentar associar a marca!");
        //     _carregando = false;
        // }
    }

    public async Task CriarTipoUsuario()
    {
        try
        {
            var options = new DialogOptions { 
                    MaxWidth = MaxWidth.ExtraExtraLarge, 
                    FullWidth = true, 
                    BackdropClick = false, 
                    CloseButton = true, 
                    Position = DialogPosition.TopCenter 
            };
            var param = new DialogParameters { ["_tipoUserForm"] = new TiposUsers() };
            var dialog = Dialog.Show<TiposUsuariosFormCmp>("Adicionar Tipo Usuário", param, options);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                Snack.Add("Marca criada com sucesso!", Severity.Success);
                tabs.ActivatePanel(0);
            }
        }
        catch (Exception e)
        {
            Snack.Add("Tivemos um problema ao tentar criar a marca!", Severity.Warning);
            _carregando = false;
        }
    }

    public async Task AtualizarInstalacaoMarca(InstalacoesMarcas instalacaoMarca)
    {
        // try
        // {
        //     var options = new DialogOptions
        //         {
        //             MaxWidth = MaxWidth.ExtraExtraLarge,
        //             FullWidth = true,
        //             BackdropClick = false,
        //             CloseButton = true,
        //             Position = DialogPosition.TopCenter
        //         };
        //     var param = new DialogParameters { ["_instalacaoMarcaForm"] = instalacaoMarca.Clone() };
        //     var dialog = Dialog.Show<InstalacoesMarcasFormCmp>("Atualizar Associação", param, options);
        //     var result = await dialog.Result;
        //     if (!result.Canceled)
        //     {
        //         instalacaoMarca = (InstalacoesMarcas)result.Data;
        //         var index = _listarInstalacoesMarcas.FindIndex(im => im.id == instalacaoMarca!.id);
        //         if (index != -1)
        //         {
        //             _listarInstalacoesMarcas[index] = instalacaoMarca!;
        //         }
        //         Snack.Add("Marca associada atualizada com sucesso!", Severity.Success);
        //         StateHasChanged();
        //     }
        // }
        // catch (Exception e)
        // {
        //     Snack.Add("Tivemos um problema ao tentar atualizar associação da marca!", Severity.Warning);
        //     _carregando = false;
        // }
    }

    public async Task AtualizarMarca(Marcas marca)
    {
        // try
        // {
        //     var options = new DialogOptions
        //         {
        //             MaxWidth = MaxWidth.ExtraExtraLarge,
        //             FullWidth = true,
        //             BackdropClick = false,
        //             CloseButton = true,
        //             Position = DialogPosition.TopCenter
        //         };
        //     var param = new DialogParameters { ["_marcaForm"] = marca.Clone() };
        //     var dialog = Dialog.Show<MarcasFormCmp>("Atualizar Marca", param, options);
        //     var result = await dialog.Result;
        //     if (!result.Canceled)
        //     {
        //         marca = (Marcas)result.Data;
        //         var index = _listarMarcas.FindIndex(ip => ip.id == marca!.id);
        //         if (index != -1)
        //         {
        //             _listarMarcas[index] = marca!;
        //         }
        //         Snack.Add("Marca atualizada com sucesso!", Severity.Success);
        //         StateHasChanged();
        //     }
        // }
        // catch (Exception e)
        // {
        //     Snack.Add("Tivemos um problema ao tentar atualizar a marca!", Severity.Warning);
        //     _carregando = false;
        // }
    }

    public async Task DeletarInstalacaoMarca(InstalacoesMarcas instalacaoMarca)
    {
        // try
        // {
        //     var param = new DialogParameters<AlertaDelete>
        //     {
        //         { x => x.ContentText, "Tem certeza que deseja deletar essa <b>ASSOCIAÇÃO</b> a <b>MARCA</b> e todos os dados a ela ligados?" }
        //     };
        //     var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        //     var dialog = Dialog.Show<AlertaDelete>("Deletar Associação", param, options);
        //     var result = await dialog.Result;
        //     if (!result.Canceled)
        //     {
        //         _carregando = true;
        //         var reinoCompany = new ReinoCompany();
        //         var response = await reinoCompany.InstalacoesMarcasDeletar(Auth!.token!, instalacaoMarca);

        //         if (response!.status)
        //         {
        //             Snack.Add("Marca associada deletada com sucesso!", Severity.Success);
        //             await LimparEListarInstalacaoMarcas();
        //         }
        //         else
        //         {
        //             if (!string.IsNullOrEmpty(response.message))
        //             {
        //                 Snack.Add(response.message, Severity.Warning);
        //             }
        //             _carregando = false;
        //         }
        //     }
        // }
        // catch (Exception e)
        // {
        //     ExceptionService.HandleAsync(e, "Tivemos um problema ao tentar deletar associação a marca!");
        //     _carregando = false;
        // }
    }

    public async Task DeletarMarca(Marcas marca)
    {
        // try
        // {
        //     var param = new DialogParameters<AlertaDelete>
        //     {
        //         { x => x.ContentText, "Tem certeza que deseja deletar essa <b>MARCA</b> e todos os dados a ela ligados?" }
        //     };
        //     var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        //     var dialog = Dialog.Show<AlertaDelete>("Deletar Marca", param, options);
        //     var result = await dialog.Result;
        //     if (!result.Canceled)
        //     {
        //         _carregando = true;
        //         var reinoCompany = new ReinoCompany();
        //         var response = await reinoCompany.MarcasDeletar(Auth!.token!, marca);

        //         if (response!.status)
        //         {
        //             Snack.Add("Marca deletada com sucesso!", Severity.Success);
        //             await LimparEListarMarcas();
        //         }
        //         else
        //         {
        //             if (!string.IsNullOrEmpty(response.message))
        //             {
        //                 Snack.Add(response.message, Severity.Warning);
        //             }
        //             _carregando = false;
        //         }
        //     }
        // }
        // catch (Exception e)
        // {
        //     ExceptionService.HandleAsync(e, "Tivemos um problema ao tentar deletar a marca!");
        //     _carregando = false;
        // }
    }
}
