@using AppPerfumaria.Api.ReinoCompany
@using AppPerfumaria.Components.CmpsGerais
@using AppPerfumaria.Components.Pages.Vendas.Cmp
@using AppPerfumaria.Exceptions
@using AppPerfumaria.Models.Auth
@using System.Text.Json.Serialization
@using AppPerfumaria.Models.Collections
@using AppPerfumaria.Models.Pagination
@using AppPerfumaria.Models.Tables
@using System.Globalization
@using AppPerfumaria.Services

@inject IDialogService Dialog
@inject ExceptionService ExceptionService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject ISnackbar Snack
@inject UsuarioService UsuarioService

<MudOverlay DarkBackground Visible="_carregando" ZIndex="10">
    <MudProgressCircular Indeterminate="true" Color="Color.Default" />
</MudOverlay>

<MudPaper Class="px-2 w-100" Elevation="4" Style="position:fixed; z-index: 9;">
    <!-- Barra de pesquisa e botão filtro -->
    <div class="d-flex">
        <MudTextField Value="_pesquisarFiltro" Label="Pesquisar" Variant="Variant.Outlined"
                      Adornment="Adornment.End" Margin="Margin.Dense" Immediate="true"
                      ValueChanged="(async (string v) => { _pesquisarFiltro = v; await Pesquisar(v); })"
                      AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Inherit" 
                      ClearIcon="@Icons.Material.Filled.Clear" Clearable="true" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.FilterList" OnClick="Filtro"
                       Color="Color.Inherit" Size="Size.Medium" />
    </div>
    <!-- Barra de filtros -->
    <MudPopover Open="@_exibirFiltro" Fixed="true" Class="px-4 pt-4 w-100"
                AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopRight">
        <MudGrid Spacing="2" Justify="Justify.Center" Class="mb-1">
            <MudItem xs="6">
                <MudSelect @bind-Value="_porPagina" Variant="Variant.Outlined"
                           Label="Carregar De" Margin="Margin.Dense">
                    <MudSelectItem Value="@("10")" />
                    <MudSelectItem Value="@("15")" />
                    <MudSelectItem Value="@("20")" />
                </MudSelect>
            </MudItem>
            <MudItem xs="6">
                <MudSelect T="string" @bind-Value="_statusFiltro" Variant="Variant.Outlined"
                           Label="Status" Margin="Margin.Dense">
                    <MudSelectItem Value="@("Todos")" />
                    <MudSelectItem Value="@("Ativo")" />
                    <MudSelectItem Value="@("Inativo")" />
                </MudSelect>
            </MudItem>
            <MudItem xs="6">
                <MudSelect T="int" @bind-Value="_formaPagamentoFiltro" Variant="Variant.Outlined"
                           Label="Forma de Pagamento" Margin="Margin.Dense">
                    <MudSelectItem Value="0">Todas</MudSelectItem>
                    @if (_listarFormasPagamentos != null)
                    {
                        @foreach (var formaPagamento in _listarFormasPagamentos)
                        {
                            <MudSelectItem Value="@formaPagamento.id">
                                @formaPagamento.nome
                            </MudSelectItem>
                        }
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="6">

            </MudItem>
            <MudItem xs="12">
                <MudDateRangePicker Label="Data de Criação" @bind-DateRange="_dataCriacaoFiltro"
                                    Variant="Variant.Outlined"
                                    PlaceholderStart="Data Início"
                                    PlaceholderEnd="Data Fim" Clearable="true"
                                    DateFormat="dd/MM/yyyy"
                                    Margin="Margin.Dense" />
            </MudItem>
            <MudItem xs="12">
                <MudAutocomplete T="Clientes" Label="Cliente"
                                 Value="@(_listarClientes?.FirstOrDefault(c => c!.id == _clienteFiltro))"
                                 SearchFunc="@PesquisarClientes" ToStringFunc="@(c => c?.nome_completo?.ToUpper())"
                                 ValueChanged="@((Clientes c) => { _clienteFiltro = c!.id; })"
                                 OnClearButtonClick="@(() => { _clienteFiltro = 0; })"
                                 CloseIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Default" Variant="Variant.Outlined"
                                 Strict="false" Margin="Margin.Dense" ShowProgressIndicator="true" ClearIcon="@Icons.Material.Filled.Clear" Clearable="true">
                    <NoItemsTemplate>
                        <MudText Align="Align.Center" Class="px-4 py-1">
                            Nenhum resultado encontrado!
                        </MudText>
                    </NoItemsTemplate>
                </MudAutocomplete>
            </MudItem>
            <MudItem xs="12">
                <MudAutocomplete T="InstalacoesColaboradores" Label="Colaborador"
                                 Value="@(_listarInstalacoesColaboradores?.FirstOrDefault(ic => ic.colaborador!.id == _colaboradorFiltro))"
                                 SearchFunc="@PesquisarInstalacoesColaboradores" ToStringFunc="@(ic => ic?.colaborador!.nome_completo.ToUpper())"
                                 ValueChanged="@((InstalacoesColaboradores ic) => { _colaboradorFiltro = ic.colaborador!.id; })"
                                 OnClearButtonClick="@(() => { _colaboradorFiltro = 0; })"
                                 CloseIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Default" Variant="Variant.Outlined"
                                 Strict="false" Margin="Margin.Dense" ShowProgressIndicator="true" ClearIcon="@Icons.Material.Filled.Clear" Clearable="true">
                    <NoItemsTemplate>
                        <MudText Align="Align.Center" Class="px-4 py-1">
                            Nenhum resultado encontrado!
                        </MudText>
                    </NoItemsTemplate>
                </MudAutocomplete>
            </MudItem>
        </MudGrid>
        <MudDivider />
        <div class="d-flex my-2 float-end">
            <MudFab Label="Fechar" Size="Size.Small"
                    OnClick="Filtro" Class="mr-2" />
            <MudFab Label="Filtrar" Size="Size.Small"
                    OnClick="AplicarFiltros" />
        </div>
    </MudPopover>
    <!-- Barra de card e botão gráficos -->
    <div class="d-flex">
        <MudTabs Elevation="4" Rounded="true" Centered="true" @ref="tabs">
            <MudTabPanel Icon="@Icons.Material.Filled.Storefront" Text="Vendas"
                            OnClick="(() => LimparEListarVendas(true))" />
            @if (UsuarioService.CheckPermissoes(["vendas.admin"]))
            {
                <MudTabPanel Text="Vendas" OnClick="(() => LimparEListarVendas(false))" />
            }
        </MudTabs>
        @if (UsuarioService.CheckPermissoes(["vendas.financeiro"]))
        {
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.InsertChartOutlined" OnClick="VisualizarGraficos"
                           Color="Color.Inherit" Size="Size.Medium" />
        }
    </div>
</MudPaper>

<div class="pa-2" style="margin-top: 100px;">
    @if (_indiceMenuVenda == 0)
    {
        <!-- Listar resultados dos vendas da instalação -->
        @if (_listarVendas != null && _listarVendas.Count() > 0)
        {
            @foreach (var venda in _listarVendas)
            {
                <MudPaper Class="px-4 py-2 mb-3" Elevation="2" @onclick="(() => VisualizarVenda(venda!.id))">
                    <MudGrid Spacing="2" Justify="Justify.Center">
                        <MudItem xs="10">
                            <div class="d-flex">
                                <MudText Typo="Typo.body2">
                                    Nº Referência:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.id
                                </MudText>
                            </div>
                            <div class="d-flex mt-1">
                                <MudText Typo="Typo.body2">
                                    Cliente:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.cliente!.nome_completo.ToUpper()
                                </MudText>
                            </div>
                            <div class="d-flex">
                                <MudText Typo="Typo.body2">
                                    Colaborador:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.colaborador!.nome_completo.ToUpper()
                                </MudText>
                            </div>
                            <div class="d-flex mt-1">
                                <MudText Typo="Typo.body2">
                                    Preço Total:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @string.Format(new CultureInfo("pt-BR"), "{0:C}", venda.preco_total)
                                </MudText>
                            </div>
                            @if (UsuarioService.CheckPermissoes(["vendas.financeiro"]))
                            {
                                <div class="d-flex">
                                    <MudText Typo="Typo.body2">
                                        Lucro Total:
                                    </MudText>
                                    <MudSpacer />
                                    <MudText Typo="Typo.body2" Class="@(venda.lucro_total_desconto > 0 ? "fw-bold text-decoration-line-through" : "fw-bold")">
                                        @string.Format(new CultureInfo("pt-BR"), "{0:C}", venda.lucro_total_original)
                                    </MudText>
                                </div>
                                @if (venda.lucro_total_desconto > 0)
                                {
                                    <div class="d-flex">
                                        <MudText Typo="Typo.body2">
                                            Lucro Desconto:
                                        </MudText>
                                        <MudSpacer />
                                        <MudText Class="fw-bold" Typo="Typo.body2">
                                            @string.Format(new CultureInfo("pt-BR"), "{0:C}", venda.lucro_total_desconto)
                                        </MudText>
                                    </div>
                                }
                            }
                            @if (venda!.taxa_juros != null)
                            {
                                <div class="d-flex">
                                    <MudText Typo="Typo.body2">
                                        <!-- Dinheiro ou Pix -->
                                        @(new[] { 1, 4 }.Contains(venda!.formas_pagamentos_id) ? "Desconto Pagamento(Dinheiro/Pix)" : "Taxa Máquina")
                                    </MudText>
                                    <MudSpacer />
                                    <MudText Class="fw-bold" Typo="Typo.body2">
                                        @* @venda!.taxa_juros% *@
                                        @string.Format(new CultureInfo("pt-BR"), "{0:C}", (venda.lucro_total_original - venda.lucro_total_desconto))
                                    </MudText>
                                </div>
                            }
                            <div class="d-flex mt-1">
                                <MudText Typo="Typo.body2">
                                    Forma Pagamento:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.forma_pagamento!.nome
                                </MudText>
                            </div>
                            @if (venda.quantidade_parcelas != null)
                            {
                                <div class="d-flex">
                                    <MudText Typo="Typo.body2">
                                        Quantidade Parcelas:
                                    </MudText>
                                    <MudSpacer />
                                    <MudText Class="fw-bold" Typo="Typo.body2">
                                        @(venda.quantidade_parcelas == 1 ? $"{venda.quantidade_parcelas} - Parcela" : $"{venda.quantidade_parcelas} - Parcelas")
                                    </MudText>
                                </div>
                            }
                            @if (venda.valor_pacelas != null)
                            {
                                <div class="d-flex">
                                    <MudText Typo="Typo.body2">
                                        Valor Parcela(s):
                                    </MudText>
                                    <MudSpacer />
                                    <MudText Class="fw-bold" Typo="Typo.body2">
                                        @string.Format(new CultureInfo("pt-BR"), "{0:C}", venda.valor_pacelas)
                                    </MudText>
                                </div>
                            }
                            <div class="d-flex mt-1">
                                <MudText Typo="Typo.body2">
                                    Data Venda:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.created_at.ToString("dd/MM/yyyy")
                                </MudText>
                            </div>
                            <div class="d-flex">
                                <MudText Typo="Typo.body2">
                                    Quantidade Produtos:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.vendas_estoques?.Count()
                                </MudText>
                            </div>
                        </MudItem>
                        <MudItem xs="2" Class="d-flex flex-column align-items-center justify-content-center">
                            @if (UsuarioService.CheckPermissoes(["vendas.editar"]))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Medium"
                                               OnClick="(() => AtualizarVenda(venda, true))" />
                            }
                            @if (UsuarioService.CheckPermissoes(["vendas.deletar"]))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Medium"
                                               OnClick="(() => DeletarVenda(venda, true))" />
                            }
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            }

            <MudItem Class="py-5" xs="12">
                @if (_paginacaoVendas!.current_page != _paginacaoVendas!.last_page)
                {
                    <MudFab Class="w-100" Label="Carregar Mais" OnClick="(() => CarregarMais(true))"
                            Disabled="false" Size="Size.Small" />
                }

                <MudText Align="Align.Center" Typo="Typo.body2" Class="mt-2 w-100">
                    @($"Total: {_paginacaoVendas!.total} | Exibidos: {_paginacaoVendas!.to}")
                </MudText>
            </MudItem>
        }
        else
        {
            @if (!_carregando)
            {
                <MudItem Class="py-5" xs="12">
                    <Animate class="w-100" Animation="Animations.FadeDown" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0.4)">
                        <MudText Class="mt-5" Align="Align.Center" Typo="Typo.body1">Nenhum resultado foi encontrado!</MudText>
                    </Animate>
                </MudItem>
            }
        }
    }
    else if (_indiceMenuVenda == 1)
    {
        <!-- Listar resultados dos vendas da instalação -->
        @if (_listarVendas != null && _listarVendas.Count() > 0)
        {
            @foreach (var venda in _listarVendas)
            {
                <MudPaper Class="px-4 py-2 mb-3" Elevation="2" @onclick="(() => VisualizarVenda(venda!.id))">
                    <MudGrid Spacing="2" Justify="Justify.Center">
                        <MudItem xs="10">
                            <div class="d-flex">
                                <MudText Typo="Typo.body2">
                                    Nº Referência:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.id
                                </MudText>
                            </div>
                            <div class="d-flex mt-1">
                                <MudText Typo="Typo.body2">
                                    Cliente:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.cliente!.nome_completo.ToUpper()
                                </MudText>
                            </div>
                            <div class="d-flex">
                                <MudText Typo="Typo.body2">
                                    Colaborador:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.colaborador!.nome_completo.ToUpper()
                                </MudText>
                            </div>
                            <div class="d-flex mt-1">
                                <MudText Typo="Typo.body2">
                                    Preço Total:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @string.Format(new CultureInfo("pt-BR"), "{0:C}", venda.preco_total)
                                </MudText>
                            </div>
                            @if (UsuarioService.CheckPermissoes(["vendas.financeiro"]))
                            {
                                <div class="d-flex">
                                    <MudText Typo="Typo.body2">
                                        Lucro Total:
                                    </MudText>
                                    <MudSpacer />
                                    <MudText Typo="Typo.body2" Class="@(venda.lucro_total_desconto > 0 ? "fw-bold text-decoration-line-through" : "fw-bold")">
                                        @string.Format(new CultureInfo("pt-BR"), "{0:C}", venda.lucro_total_original)
                                    </MudText>
                                </div>
                            }
                            @if (venda.lucro_total_desconto > 0)
                            {
                                <div class="d-flex">
                                    <MudText Typo="Typo.body2">
                                        Lucro Desconto:
                                    </MudText>
                                    <MudSpacer />
                                    <MudText Class="fw-bold" Typo="Typo.body2">
                                        @string.Format(new CultureInfo("pt-BR"), "{0:C}", venda.lucro_total_desconto)
                                    </MudText>
                                </div>
                            }
                            @if (venda!.taxa_juros != null)
                            {
                                <div class="d-flex">
                                    <MudText Typo="Typo.body2">
                                        <!-- Dinheiro ou Pix -->
                                        @(new[] { 1, 4 }.Contains(venda!.formas_pagamentos_id) ? "Desconto Pagamento(Dinheiro/Pix)" : "Taxa Máquina")
                                    </MudText>
                                    <MudSpacer />
                                    <MudText Class="fw-bold" Typo="Typo.body2">
                                        @venda!.taxa_juros%
                                    </MudText>
                                </div>
                            }
                            <div class="d-flex mt-1">
                                <MudText Typo="Typo.body2">
                                    Forma Pagamento:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.forma_pagamento!.nome
                                </MudText>
                            </div>
                            @if (venda.quantidade_parcelas != null)
                            {
                                <div class="d-flex">
                                    <MudText Typo="Typo.body2">
                                        Quantidade Parcelas:
                                    </MudText>
                                    <MudSpacer />
                                    <MudText Class="fw-bold" Typo="Typo.body2">
                                        @(venda.quantidade_parcelas == 1 ? $"{venda.quantidade_parcelas} - Parcela" : $"{venda.quantidade_parcelas} - Parcelas")
                                    </MudText>
                                </div>
                            }
                            @if (venda.valor_pacelas != null)
                            {
                                <div class="d-flex">
                                    <MudText Typo="Typo.body2">
                                        Valor Parcela(s):
                                    </MudText>
                                    <MudSpacer />
                                    <MudText Class="fw-bold" Typo="Typo.body2">
                                        @string.Format(new CultureInfo("pt-BR"), "{0:C}", venda.valor_pacelas)
                                    </MudText>
                                </div>
                            }
                            <div class="d-flex mt-1">
                                <MudText Typo="Typo.body2">
                                    Data Venda:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.created_at.ToString("dd/MM/yyyy")
                                </MudText>
                            </div>
                            <div class="d-flex">
                                <MudText Typo="Typo.body2">
                                    Quantidade Produtos:
                                </MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.body2" Class="fw-bold">
                                    @venda!.vendas_estoques?.Count()
                                </MudText>
                            </div>
                        </MudItem>
                        <MudItem xs="2" Class="d-flex flex-column align-items-center justify-content-center">
                            @if (UsuarioService.CheckPermissoes(["vendas.editar", "vendas.admin"]))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Medium"
                                               OnClick="(() => AtualizarVenda(venda, false))" />
                            }
                            @if (UsuarioService.CheckPermissoes(["vendas.deletar", "vendas.admin"]))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Medium"
                                               OnClick="(() => DeletarVenda(venda, false))" />
                            }
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            }

            <MudItem Class="py-5" xs="12">
                @if (_paginacaoVendas!.current_page != _paginacaoVendas!.last_page)
                {
                    <MudFab Class="w-100" Label="Carregar Mais" OnClick="(() => CarregarMais(false))"
                            Disabled="false" Size="Size.Small" />
                }

                <MudText Align="Align.Center" Typo="Typo.body2" Class="mt-2 w-100">
                    @($"Total: {_paginacaoVendas!.total} | Exibidos: {_paginacaoVendas!.to}")
                </MudText>
            </MudItem>
        }
        else
        {
            @if (!_carregando)
            {
                <MudItem Class="py-5" xs="12">
                    <Animate class="w-100" Animation="Animations.FadeDown" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0.4)">
                        <MudText Class="mt-5" Align="Align.Center" Typo="Typo.body1">Nenhum resultado foi encontrado!</MudText>
                    </Animate>
                </MudItem>
            }
        }
    }
</div>

@code {
    [Parameter] public Auth? Auth { get; set; }
    [Parameter] public Instalacoes? Instalacao { get; set; }
    [Parameter] public EventCallback AtualizarCarinho { get; set; }
    [Parameter] public EventCallback<Vendas> Carinho { get; set; }
    private List<Vendas>? _listarVendas = new List<Vendas>();
    private List<FormasPagamentos>? _listarFormasPagamentos;
    private List<Clientes>? _listarClientes = new List<Clientes>
    {
        new Clientes { id = 0, nome_completo = "Todos" }
    };
    private List<InstalacoesColaboradores>? _listarInstalacoesColaboradores = new List<InstalacoesColaboradores>
    {
        new InstalacoesColaboradores { 
            id = 0, 
            colaborador = new Colaboradores { nome_completo = "Todos" }
        }
    };
    private MetaPagination? _paginacaoVendas;
    private MudTabs? tabs;
    private int _indiceMenuVenda = 0;
    private bool _carregando = true;
    private bool _exibirFiltro = false;
    private string? _pesquisarFiltro;
    private string? _statusFiltro = "Todos";
    private int _formaPagamentoFiltro = 0;
    private DateRange _dataCriacaoFiltro = new DateRange();
    private string? _pesquisarCliente;
    private int _clienteFiltro = 0;
    private string? _pesquisarColaborador;
    private int _colaboradorFiltro = 0;
    private string _porPagina = "10";
    private int _paginaPaginacao = 1;
    private List<Estoques>? _produtosCarinho;

    protected override async Task OnInitializedAsync()
    {
        do
        {
            await Task.Delay(300);
        }
        while (Auth == null || Instalacao == null);

        await ListarVendas(true);
        _ = ListarFormasPagamentos();
    }

    private async Task Pesquisar(string pesquisar)
    {
        await Task.Delay(1500);

        if (pesquisar == _pesquisarFiltro)
        {
            await AplicarFiltros();
        }
    }

    private async Task<IEnumerable<Clientes>?> PesquisarClientes(string pesquisar, CancellationToken token)
    {
        _pesquisarCliente = pesquisar;
        await Task.Delay(1500);

        if (pesquisar == _pesquisarCliente)
        {
            _listarClientes = new List<Clientes>
            {
                new Clientes { id = 0, nome_completo = "Todos" }
            };

            _listarClientes!.AddRange(await ListarClientes(pesquisar));

            return _listarClientes?.OrderBy(o => o.nome_completo == "Todos" ? 0 : 1)
                                   .ThenBy(o => o.nome_completo);
        }

        return _listarClientes;
    }

    private async Task<IEnumerable<InstalacoesColaboradores>?> PesquisarInstalacoesColaboradores(string pesquisar, CancellationToken token)
    {
        _pesquisarColaborador = pesquisar;
        await Task.Delay(1500);

        if (pesquisar == _pesquisarColaborador)
        {
            _listarInstalacoesColaboradores = new List<InstalacoesColaboradores>
            {
                new InstalacoesColaboradores { 
                    id = 0, 
                    colaborador = new Colaboradores { nome_completo = "Todos" }
                }
            };

            _listarInstalacoesColaboradores!.AddRange(await ListarInstalacoesColaboradores(pesquisar));

            return _listarInstalacoesColaboradores?.OrderBy(o => o.colaborador?.nome_completo == "Todos" ? 0 : 1)
                                                   .ThenBy(o => o.colaborador?.nome_completo);
        }

        return _listarInstalacoesColaboradores;
    }

    public async Task CarregarMais(bool vendasInstalacao)
    {
        _paginaPaginacao++;
        await ListarVendas(vendasInstalacao);
    }

    private void Filtro()
    {
        _exibirFiltro = !_exibirFiltro;
    }

    public string? PegarFiltros(bool vendasInstalacao)
    {
        string filtros = $"?page={_paginaPaginacao}&por_pagina={_porPagina}";

        if (!string.IsNullOrEmpty(_pesquisarFiltro))
        {
            filtros += $"&pesquisar={_pesquisarFiltro}";
        }
        if (vendasInstalacao)
        {
            filtros += $"&instalacoes_id={Instalacao!.id}";
        }
        if (!string.IsNullOrEmpty(_statusFiltro) && _statusFiltro != "Todos")
        {
            filtros += $"&status={_statusFiltro}";
        }
        if (_formaPagamentoFiltro > 0)
        {
            filtros += $"&formas_pagamentos_id={_formaPagamentoFiltro}";
        }
        if (_dataCriacaoFiltro.Start != null && _dataCriacaoFiltro.End != null)
        {
            filtros += $"&criado_de={_dataCriacaoFiltro.Start?.ToString("yyyy-MM-dd")}&criado_ate={_dataCriacaoFiltro.End?.ToString("yyyy-MM-dd")}";
        }
        if (_clienteFiltro > 0)
        {
            filtros += $"&clientes_id={_clienteFiltro}";
        }
        if (_colaboradorFiltro > 0)
        {
            filtros += $"&colaboradores_id={_colaboradorFiltro}";
        }

        return filtros;
    }

    public async Task AplicarFiltros()
    {
        _exibirFiltro = false;

        if (_indiceMenuVenda == 0)
        {
            await LimparEListarVendas(true);
        }
        else
        {
            await LimparEListarVendas(false);
        }
    }

    public async Task ListarFormasPagamentos()
    {
        try
        {
            string filtros = $"?instalacoes_id={Instalacao!.id}&por_pagina=20&status=Ativo";

            var reinoCompany = new ReinoCompany();
            var response = await reinoCompany.FormasPagamentosListar(Auth!.token!, filtros);

            if (response!.status)
            {
                _listarFormasPagamentos = response!.data!;
            }
            else
            {
                if (!string.IsNullOrEmpty(response.message))
                {
                    Snack.Add(response.message, Severity.Warning);
                }
            }

            StateHasChanged();
        }
        catch (Exception e)
        {
            ExceptionService.HandleAsync(e, "Tivemos um problema ao tentar listar as formas de pagamento!");
        }
    }

    private async Task<List<InstalacoesColaboradores>?> ListarInstalacoesColaboradores(string? pesquisar = null)
    {
        try
        {
            string filtros = $"?instalacoes_id={Instalacao!.id}&por_pagina=20&status=Ativo";

            if (!string.IsNullOrEmpty(pesquisar))
            {
                filtros += $"&pesquisar={pesquisar}";
            }

            var reinoCompany = new ReinoCompany();
            var response = await reinoCompany.InstalacoesColaboradoresListar(Auth!.token!, filtros);

            List<InstalacoesColaboradores>? listarInstalacoesColaboradores = new List<InstalacoesColaboradores>();

            if (response!.status)
            {
                listarInstalacoesColaboradores = response!.data!;
            }
            else
            {
                if (!string.IsNullOrEmpty(response.message))
                {
                    Snack.Add(response.message, Severity.Warning);
                }
            }

            return listarInstalacoesColaboradores;
        }
        catch (Exception e)
        {
            ExceptionService.HandleAsync(e, "Tivemos um problema ao tentar listar os colaboradores!");
            return new List<InstalacoesColaboradores>();
        }
    }

    private async Task<List<Clientes>?> ListarClientes(string? pesquisar = null)
    {
        try
        {
            string filtros = $"?por_pagina=20&status=Ativo";

            if (!string.IsNullOrEmpty(pesquisar))
            {
                filtros += $"&pesquisar={pesquisar}";
            }

            var reinoCompany = new ReinoCompany();
            var response = await reinoCompany.ClientesListar(Auth!.token!, filtros);

            List<Clientes>? listarClientes = new List<Clientes>();

            if (response!.status)
            {
                listarClientes = response!.data!;
            }
            else
            {
                if (!string.IsNullOrEmpty(response.message))
                {
                    Snack.Add(response.message, Severity.Warning);
                }
            }

            return listarClientes;
        }
        catch (Exception e)
        {
            ExceptionService.HandleAsync(e, "Tivemos um problema ao tentar listar os clientes!");
            return new List<Clientes>();
        }
    }

    public async Task LimparEListarVendas(bool vendasInstalacao)
    {
        _paginaPaginacao = 1;
        _listarVendas = new List<Vendas>();
        await ListarVendas(vendasInstalacao);
    }

    public async Task ListarVendas(bool vendasInstalacao)
    {
        try
        {
            _carregando = true;
            StateHasChanged();
            string? filtros = PegarFiltros(vendasInstalacao);

            var reinoCompany = new ReinoCompany();
            var response = await reinoCompany.VendasListar(Auth!.token!, filtros);

            if (response!.status)
            {
                _paginacaoVendas = response.meta;
                _listarVendas!.AddRange(response!.data!);
            }
            else
            {
                if (!string.IsNullOrEmpty(response.message))
                {
                    Snack.Add(response.message, Severity.Warning);
                }
            }

            if (vendasInstalacao)
            {
                _indiceMenuVenda = 0;
            }
            else
            {
                _indiceMenuVenda = 1;
            }
            _carregando = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            ExceptionService.HandleAsync(e, "Tivemos um problema ao tentar listar as vendas!");
            _carregando = false;
        }
    }

    private void VisualizarVenda(int id)
    {
        try
        {
            var options = new DialogOptions
                {
                    MaxWidth = MaxWidth.ExtraExtraLarge,
                    FullWidth = true,
                    FullScreen = true,
                    CloseButton = false,
                };
            var param = new DialogParameters 
            { 
                ["_venda_id"] = id
            };
            Dialog.Show<VisualizarVendaCmp>("Visualizar Venda", param, options);
        }
        catch (Exception e)
        {
            Snack.Add("Tivemos um problema ao tentar exibir a venda!", Severity.Warning);
        }
    }

    private void VisualizarGraficos()
    {
        try
        {
            var options = new DialogOptions
                {
                    MaxWidth = MaxWidth.ExtraExtraLarge,
                    FullWidth = true,
                    FullScreen = true,
                    CloseButton = false,
                };
            // var param = new DialogParameters
            //     {
            //         ["_venda_id"] = id
            //     };
            // Dialog.Show<VisualizarVendaCmp>("Visualizar Gráficos", param, options);
            Dialog.Show<VisualizarGraficosCmp>("Visualizar Gráficos", options);
        }
        catch (Exception e)
        {
            Snack.Add("Tivemos um problema ao tentar exibir os gráficos!", Severity.Warning);
        }
    }

    private double? CalcularTotalDesconto(Vendas venda)
    {
        double? totalDesconto = 0.0;

        if (venda.vendas_estoques != null && venda.vendas_estoques.Count() > 0)
        {
            foreach (var item in venda.vendas_estoques)
            {
                if (item!.estoque!.preco_venda_desconto != null)
                {
                    totalDesconto += item.estoque.preco_venda_desconto;
                }
                else
                {
                    totalDesconto += item.estoque.preco_venda_original;
                }
            }
        }

        return totalDesconto!;
    }

    public async Task AtualizarVenda(Vendas venda, bool vendasInstalacao)
    {
        try
        {
            // if (venda.vendas_estoques != null && venda.vendas_estoques.Count() > 0)
            // {
            //     _produtosCarinho = venda?.vendas_estoques?.Select(s => s.estoque).ToList();
            //     await LocalStorage.SetItemAsync("carinho", _produtosCarinho);
            //     await AtualizarCarinho.InvokeAsync();
            // }

            // await Carinho.InvokeAsync(venda);

            _carregando = true;

            var reinoCompany = new ReinoCompany();
            var response = await reinoCompany.VendasBuscar(Auth!.token!, venda!.id);

            if (response!.status)
            {
                if (response.data!.vendas_estoques != null && response.data!.vendas_estoques.Count() > 0)
                {
                    _produtosCarinho = response.data?.vendas_estoques?.Select(s => s.estoque).ToList();
                    await LocalStorage.SetItemAsync("carinho", _produtosCarinho);
                    await AtualizarCarinho.InvokeAsync();
                }

                await Carinho.InvokeAsync(venda);
            }
            else
            {
                if (!string.IsNullOrEmpty(response.message))
                {
                    Snack.Add(response.message, Severity.Warning);
                }
            }

            _carregando = false;

            // double? precoPaga = 0.0;
            // @if (venda.vendas_estoques.Any(a => a!.estoque!.preco_venda_desconto != null))
            // {
            //     precoPaga = CalcularTotalDesconto(venda);
            // }
            // else
            // {
            //     precoPaga = venda.vendas_estoques?.Sum(w => w.estoque.preco_venda_original);
            // }

            // var options = new DialogOptions
            //     {
            //         MaxWidth = MaxWidth.ExtraExtraLarge,
            //         FullWidth = true,
            //         BackdropClick = false,
            //         CloseButton = true,
            //         Position = DialogPosition.TopCenter
            //     };
            // var param = new DialogParameters
            //     {
            //         ["_vendaForm"] = venda,
            //         ["_precoPaga"] = precoPaga,
            //         ["_editar"] = true
            //     };
            // var dialog = Dialog.Show<VendasFormCmp>("Atualizar Venda", param, options);
            // var result = await dialog.Result;
            // if (!result.Canceled && (bool)result.Data == true)
            // {
            //     Snack.Add("Venda atualizada com sucesso!", Severity.Success);
            //     await LimparEListarVendas(vendasInstalacao);
            // }
            // else if (!result.Canceled && (bool)result.Data == false)
            // {
            //     Snack.Add("Tivemos um problema ao tentar atualizar a venda!", Severity.Warning);
            // }
        }
        catch (Exception e)
        {
            ExceptionService.HandleAsync(e, "Tivemos um problema ao tentar buscar a venda!");
            _carregando = false;
        }
    }

    public async Task DeletarVenda(Vendas venda, bool vendasInstalacao)
    {
        try
        {
            var param = new DialogParameters<AlertaDelete>
            {
                { x => x.ContentText, "Tem certeza que deseja deletar essa <b>VENDA</b> e todos os dados a ela ligados?" }
            };
            var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
            var dialog = Dialog.Show<AlertaDelete>("Deletar Venda", param, options);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                _carregando = true;
                var reinoCompany = new ReinoCompany();
                var response = await reinoCompany.VendasDeletar(Auth!.token!, venda);

                if (response!.status)
                {
                    Snack.Add("Venda deletada com sucesso!", Severity.Success);
                    await LimparEListarVendas(vendasInstalacao);
                }
                else
                {
                    if (!string.IsNullOrEmpty(response.message))
                    {
                        Snack.Add(response.message, Severity.Warning);
                    }
                    _carregando = false;
                }
            }
        }
        catch (Exception e)
        {
            ExceptionService.HandleAsync(e, "Tivemos um problema ao tentar deletar a venda!");
            _carregando = false;
        }
    }
}